.h1
{
	background-color: powderblue;
	font-style:;
	text-align: center;
	color:red;
	opacity: 0.6;
	filter: alpha(opacity=60)
}
.container
{
	width: 1000px;
	height:1000px;
	margin: auto
}
h4
{
	color:powderblue;
	
}
.padding {
	margin: 10px
}
.card-body
{
	background-color:black;
}

